<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~
  ~ Copyright (c) 2016 Mickael Gizthon . All rights reserved. Email:2013mzhou@gmail.com
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<manifest package="com.bluetoothlibrary"
          xmlns:android="http://schemas.android.com/apk/res/android">

    xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- 允许程序连接到已配对的蓝牙设备 -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <!-- 允许程序发现和配对蓝牙设备 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <application
        android:theme="@style/AppTheme">

        <activity android:name=".BondBtActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".SetBluetoothActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".BluetoothHelpActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".PrintDataActivity"
                  android:screenOrientation="portrait"/>

        <service android:name=".BtService"/>
    </application>


</manifest>
